<div class="comment-input-container">
  <div #content contenteditable class="comment-input"
    (keyup)="onKeyUp($event)"
    (change)="onCommentFormChange()"
    (paste)="onCommentFormPaste($event)"
    (drop)="onCommentFormDrag($event)"
    (blur)="resetMenuEvent()"
  ><div></div>
  </div>
  <menu name="user" *ngIf="showMenu">
    <li *ngFor="let user of users; let index = index" [value]="user"
      (mousedown)="stopEvent($event)"
      (click)="insertPing(user)"
    >{{user.name}}</li>
  </menu>
</div>

<button [disabled]="!newCommentContent.valid" (click)="onSubmit()">Submit</button>
